*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* BARRA DE NAVEGACION */
body{
    font-family: monospace;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:20px;
    margin-top: -9px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
   
  label.logo{
      font-size: 30px;
      padding-left: 50px;
      }
      nav ul li a{
      font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{ z-index: 100;
        position: fixed;
        width: 25%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left:0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left:500px;
    }
    .slide__titulo{
        
        font-size: 20px;
    }  
    .slide__titulo h1{
        margin-top: 8px;
    }
    .slide__titulo p{
        display: none;
        width: 50%;
    }
    
}

/* -------------------- */

.slide{
    position: relative;
    color: white;
    font-family: 'STIX Two Text', serif;
   
}
.slide h1{
    padding-top: 24px;
    font-size: 28px;
    font-weight: 600;
}
.slide p{
    padding-top: 20px;
    font-size: 20px;
}
.slide__titulo{
    margin-top: -17px;
    position:absolute;
    text-align: center;
    background: rgb(0 0 0 / 50%);
    height: 102%;
    width: 100%;
}
.slide__imagen{
    width:1900px ;
    height: 630px;
    margin-top: -17px;
}

/*-----------------------------*/
.servicios{
    background: #203e55;
    padding: 24px 0;
 margin-top: -4px;
}
.servicios_tit{
    margin-bottom: 16px;
    font-family: 'STIX Two Text', serif;
    text-align: center;
    font-size: 35px;
    color: black;
    
    
 }

 
.servicios_art{
    display: flex;
    flex-direction: row;
}

.servicios_art-rif{
    text-align: center;
}
.servicios_art-esc{
    text-align: center;
}
.servicios_art-pist{
    text-align: center;
}
.servicios_art-tit{
    font-size: 30px;
    color: #c7bbec;
}
.servicios_art-par{
    font-size: 15px;
    color: black;

}
@media screen and (max-width:700px) {
    .servicios_art{
        display: flex;
        flex-direction: column;
    }
 
  }


/* -------------------Footer------------------------ */

